In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('../data/input/listings.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,18666,Flat with Sunny Terrace,71615,Mireia And Maria,Sant Martí,el Camp de l'Arpa del Clot,41.408886,2.185545,Entire home/apt,130,3,1,2015-10-10,0.03,33,26
1,18674,Huge flat for 8 people close to Sagrada Familia,71615,Mireia And Maria,Eixample,la Sagrada Família,41.404197,2.173058,Entire home/apt,320,1,5,2018-06-18,0.08,33,102
2,21605,Nice and sunny duble room,82522,Meritxell,Sant Martí,el Poblenou,41.405604,2.198205,Private room,33,2,95,2018-09-19,3.22,3,296
3,25786,NICE ROOM AVAILABLE IN THE HEART OF GRACIA,108310,Pedro,Gràcia,la Vila de Gràcia,41.401452,2.156447,Private room,31,1,212,2018-10-03,2.13,1,38
4,31377,"Room for 2, Sagrada Famili",134698,Svetlana,Horta-Guinardó,el Baix Guinardó,41.410969,2.170701,Private room,42,3,4,2018-03-12,0.10,3,193

In [5]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [8]:
df[['price', 'monthly_price', 'minimum_nights']].head()

     price monthly_price  minimum_nights
0  $130.00           NaN               3
1  $320.00           NaN               1
2   $33.00           NaN               2
3   $31.00           NaN               1
4   $42.00           NaN               3

### Save host_id - count, earning
Farem un scatterplot count vs. earning

In [11]:
# df.sort_values(by=['calculated_host_listings_count'], ascending=False)
df_count = df.groupby(by='host_id').count()['id']
df_count.sort_values(ascending=False)
df_count = pd.DataFrame(df_count)

df['earnings'] = df['number_of_reviews'] * df['price'] * df['minimum_nights']
df_earning = df.groupby(by='host_id')['earnings'].sum()

df_group = pd.concat([df_count, df_earning], axis=1, join='inner')

df_group.to_csv('../data/output/count-id.csv')
df_group.head()

         id  earnings
host_id
3073      1      2184
10704    74    417244
34580     1     41064
41161     1      2240
44384     1     22000

In [3]:
df.sort_values(by='last_review', ascending=True).head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
30,71520,Charming apartment with fantastic views!,366428,Ariadna,Gràcia,Vallcarca i els Penitents,41.418368,2.134192,Entire home/apt,250,7,1,2011-06-23,0.01,1,299
82,164897,Your home in Barcelona | Comfortable Loft Gracia,786393,Jaime,Gràcia,la Vila de Gràcia,41.400987,2.162939,Entire home/apt,182,90,1,2011-07-22,0.01,2,363
90,180293,Ally`s Guest House Barcelona,863772,Graciela,Eixample,la Dreta de l'Eixample,41.398472,2.164521,Private room,50,2,1,2012-05-05,0.01,1,259
133,250016,"Excellent - 3 bedrooms, 2 bathrooms - Gothic",1310304,Lluís,Ciutat Vella,el Barri Gòtic,41.387316,2.173671,Entire home/apt,65,32,1,2012-07-10,0.01,14,190
403,573095,Bright shared room in Gran de Gràcia (4),1503151,Laia,Gràcia,la Vila de Gràcia,41.397928,2.156216,Private room,25,2,1,2012-07-11,0.01,84,70